%section#pbgc
  %p.title{ :data => { 'section-title' => true} }
    = link_to "PBGC (#{@pbgc_search[:total]})", "#"
  %div.content{ :data => { 'section-content' => true } }
    %table.large-12
      %thead
        %tr
          %th
            Name
          %th
            Company Name
          %th
            Last known address
          %th
      %tbody
        - @pbgc_search[:results].each_with_index do |result, index|
          %tr
            %td= result[:name]
            %td= result[:company]
            %td= result[:last_known_address]
            %td
              = link_to 'Claim', '#', :class => 'small button', 'data-reveal-id' => "pbgc-modal-#{index}"
              %div.reveal-modal.expand{ id: "pbgc-modal-#{index}" }
                - if flash["pbgc-modal-#{index}"] && flash[:success]
                  %div.alert-box.success #{flash[:success]}
                = button_to 'Save to MyUSA Tasks', add_tasks_path(modal: "pbgc-modal-#{index}", task_type: 'pbgc', url: result[:claim_url]), :class => 'button positive radius right'
                %h2
                  Start the claim process
                %p.lead
                  Call PBGC toll-free at 1-800-326-LOST. (TTY/TDD users, call the federal relay service toll-free at 1-800-877-8339 and ask to be connected to 1-800-326-LOST) or fill out the #{link_to 'secure form', result[:claim_url]} and provide the information about the missing participant or beneficiary.
                  %strong Be sure to provide us with a valid telephone number, e-mail address, or mailing address. They need some way to contact you, and any one of those items are suitable. Without that information, we are unable to help the person who may be owed money.
                %p.lead PBGC will contact you shortly after they receive the information.
                = link_to raw('&#215;'), "#", class: "close-reveal-modal"
    %div.bottom_buttons
      = button_to 'Search Again', root_path, :class => 'button positive radius right'
      = button_to 'More Results', 'http://search.pbgc.gov/mp/mp.aspx#commentForm', :class => 'button positive radius' if @pbgc_search[:total] == 25