%p#skip-target-holder
  = link_to "skip-target", "#skip-target", class: "skip", id: "skip-target", tabindex: "-1"
%div#tabs
  %ul
    %li
      = link_to "FDIC (#{@fdic_search[:total]})", "#tab1"
    %li
      = link_to "PBGC (#{@pbgc_search[:total]})", "#tab2"
    %li
      = link_to "HUD (#{@hud_search[:total]})", "#tab3"
  %div#tab1
    = render partial: 'home/results/fdic'
  %div#tab2
    = render partial: 'home/results/pbgc'
  %div#tab3
    = render partial: 'home/results/hud'