%div{ class: 'section-container auto', data: { section: 'tabs' } }
  %section
    %p.title{ :data => { 'section-title' => true} }
      = link_to "FDIC (#{@fdic_search[:total]})", "#"
    %div.content{ data: { 'section-content' => true } }
      %table.large-12
        %thead
          %tr
            %th
              Reference #
            %th
              Fund Owner Name
            %th
              Institution Name
            %th
              Location
            %th
              Claim #
            %th
              Check Date
            %th
              Check #
            %th
        %tbody
          - @fdic_search[:results].each_with_index do |result, index|
            %tr
              %td= result[:reference_number]
              %td= result[:fund_owner_name]
              %td= result[:institution_name]
              %td= "#{result[:city]}, #{result[:state]}"
              %td= result[:claim_number]
              %td= result[:check_date]
              %td= result[:check_number]
              %td
                = link_to 'Claim', '#', :class => 'small button', 'data-reveal-id' => "fdic-modal-#{index}"
                %div.reveal-modal.expand{ id: "fdic-modal-#{index}" }
                  %h2
                    Start the claim process
                  %ol.lead
                    %li Print or download the #{link_to 'FDIC Claimant Verification form', 'http://www2.fdic.gov/funds/claimform.htm', target: '_blank'}. Use the print function in your browser to print the form. Then, complete the form by filling in the requested information in pen. Include your FDIC Reference Number (#{result[:reference_number]}) next to your name.
                    %li 
                      Have the completed form notarized by a notary public.
                      %br
                      %br
                    %li
                      Mail completed, notarized form to:
                      %ul.vcard
                        %li.fn
                          FDIC
                          %br Attn: Claims Department - Unclaimed Funds
                          Reference ##{result[:reference_number]}
                        %li.street-address 1601 Bryan Street
                        %li.locality
                          %span.city Dallas,
                          %span.state Texas
                          %span.zip 75201
                    %li You will be notified by an FDIC representative within 30 days of receipt of form. You may be notified in writing, by phone, or by receipt of check. If you have further inquiries, you may contact #{mail_to 'FDICUnclaimed@FDIC.gov', 'FDIC via E-Mail inquiries'} for status of claim.
                  = link_to raw('&#215;'), "#", class: "close-reveal-modal"
  %section
    %p.title{ :data => { 'section-title' => true} }
      = link_to "PBGC (#{@pbgc_search[:total]})", "#"
    %div.content{ :data => { 'section-content' => true } }
      %table.large-12
        %thead
          %tr
            %th
              Name
            %th
              Company Name
            %th
              Last known address
            %th
        %tbody
          - @pbgc_search[:results].each_with_index do |result, index|
            %tr
              %td= result[:name]
              %td= result[:company]
              %td= result[:last_known_address]
              %td
                = link_to 'Claim', '#', :class => 'small button', 'data-reveal-id' => "pbgc-modal-#{index}"
                %div.reveal-modal.expand{ id: "pbgc-modal-#{index}" }
                  %h2
                    Start the claim process
                  %p.lead
                    Call PBGC toll-free at 1-800-326-LOST. (TTY/TDD users, call the federal relay service toll-free at 1-800-877-8339 and ask to be connected to 1-800-326-LOST) or fill out the #{link_to 'secure form', result[:claim_url]} and provide the information about the missing participant or beneficiary.
                    %strong Be sure to provide us with a valid telephone number, e-mail address, or mailing address. We need some way to contact you, and any one of those items would be suitable. Without that information, we are unable to help the person who may be owed money.
                  
                  %p PBGC will contact you shortly after they receive the information.
                  = link_to raw('&#215;'), "#", class: "close-reveal-modal"
  %section
    %p.title{ data: { 'section-title' => true } }
      = link_to "HUD (#{@hud_search[:total]})", "#"
    %div.content{ data: { 'section-content' => true } }
      %table.large-12
        %thead
          %tr
            %th
              Name
            %th
              Address
            %th
              Claim date
            %th
              Case number
            %th
        %tbody
          - @hud_search[:results].each_with_index do |result, index|
            %tr
              %td= result[:name]
              %td= "#{result[:address]} #{result[:city] == ' ' ? '' : result[:city] + ', ' }#{result[:state]} #{result[:zip]}"
              %td= result[:claim_date]
              %td= result[:case_number]
              %td
                = link_to 'Claim', '#', :class => 'small button', 'data-reveal-id' => "hud-modal-#{index}"
                %div.reveal-modal.expand{ id: "hud-modal-#{index}" }
                  %h2
                    Start the claim process
                  %p
                    Call 1-800-697-6967 to get your refund. If your name is not on the list, but you believe that you are owed a refund, call this same toll free number to ask about your status. You can also contact HUD by postal mail using the following address:
                    %ul.vcard
                      %li.fn U.S. Department of Housing and Urban Development
                      %li.street-address P.O. Box 44372
                      %li.locality
                        %span.city Washington,
                        %span.state DC
                        %span.zip 20026-4372
                    %h5 Note
                    All inquiries should include your name, your FHA case number
                    %span.label #{result[:case_number]}
                    , the date that the mortgage was paid-in-full, the property address, and your daytime phone number.
                    %h5 More Info
                    For more information about refunds, read the #{link_to 'Fact Sheet', 'http://www.hud.gov/offices/hsg/comp/refunds/fhafact.cfm', target: '_blank'}
                  = link_to raw('&#215;'), "#", class: "close-reveal-modal"
  - unless @ca_search.nil?
    %section
      %p.title{ data: { 'section-title' => true } }
        = link_to "CA Unclaimed Property (#{@ca_search.total})", "#"
      %div.content{ data: { 'section-content' => true } }
        %table.large-12
          %thead
            %tr
              %th
                Name
              %th
                Address
              %th
                ID Number
              %th
                Type
              %th
          %tbody
            - @ca_search.results.each_with_index do |result, index|
              %tr
                %td= result[:name]
                %td= result[:address]
                %td= result[:id]
                %td= ca_result_type(result[:type])
                %td
                  = link_to 'Claim', '#', :class => 'small button', 'data-reveal-id' => "ca-modal-#{index}"
                  %div.reveal-modal.expand{ id: "ca-modal-#{index}" }
                    %h2
                      Start the claim process
                    %ol.lead
                      %li 
                        Write down your Property ID Number 
                        %span.label #{result[:id]}
                        and print the #{link_to 'Property Details', result[:href], target: '_blank'} screen for your records.
                      %li Fill out a Claim Affirmation Form online or call (800) 992-4647 to have a representative mail the form to you.
                      %li
                        Mail the completed and signed Claim Affirmation Form along with the required documents to:
                        %ul.vcard
                          %li.fn
                            California State Controller's Office
                            Unclaimed Property Division
                          %li.street-address PO Box 942850
                          %li.locality
                            %span.city Sacramento,
                            %span.state CA
                            %span.zip 94250-5873
                      %li Due to the large volume of claims, it may take up to 180 days to process your claim. You may check the status of your claim at any time on the #{link_to 'Claims Status Page', 'https://scoweb.sco.ca.gov/UCP/ClaimStatusSearch.aspx'}.  If you have an outstanding debt with a California state agency, city or county, your unclaimed property payment may be intercepted to pay the debt. Thank you for your patience.                      
                      = link_to raw('&#215;'), "#", class: "close-reveal-modal"
  - unless @md_search.nil?
    %section
      %p.title{ data: { 'section-title' => true } }
        = link_to "MD Unclaimed Property (#{@md_search.total})", "#"
      %div.content{ data: { 'section-content' => true } }
        %table.large-12
          %thead
            %tr
              %th
                Claim
              %th
                Name
              %th
                Address
              %th
          %tbody
            - @md_search.results.each_with_index do |result, index|
              %tr
                %td= result[:claim]
                %td= result[:name]
                %td= result[:address]
                %td
                  = link_to 'Claim', '#', :class => 'small button', 'data-reveal-id' => "md-modal-#{index}"
                %div.reveal-modal.expand{ id: "md-modal-#{index}" }
                  %h2
                    Start the claim process
                  %ol.lead
                    %li 
                      Print and complete claim form #{link_to 'ST-912', 'http://comptroller.marylandtaxes.com/Public_Services/Unclaimed_Property/static_files/COT-ST912.pdf', target: '_blank'}. Be sure to indicate you claim number: 
                      %span.label #{result[:claim]}
                    %li
                      Mail the completed and signed Claim Affirmation Form to the Comptroller's Office at the following address:
                      %ul.vcard
                        %li.fn
                          Comptroller of Maryland
                          %br Compliance Division - Unclaimed Property Unit
                        %li.street-address
                          301 West Preston Street
                          Room #310
                        %li.locality
                          %span.city Baltimore,
                          %span.state Maryland
                          %span.zip 21201-2383
                    %h5 More Info
                    %p If you have a question regarding unclaimed property, or would like assistance, please contact the Comptroller of Maryland's Unclaimed Property Unit at 410-767-1700 in the Baltimore metro area, or 1-800-782-7383 nationwide, or e-mail us at #{mail_to 'unclaim@comp.state.md.us'}.
                    = link_to raw('&#215;'), "#", class: "close-reveal-modal"