%div{ class: 'section-container tabs', data: { section: 'tabs' } }
  = render partial: 'home/results/fdic'
  = render partial: 'home/results/pbgc'
  = render partial: 'home/results/hud'
  = render partial: 'home/results/ca'
  = render partial: 'home/results/md'