%div{ class: 'section-container auto', data: { section: 'tabs' } }
  %section
    %p.title{ :data => { 'section-title' => true} }
      = link_to "FDIC (#{@fdic_search[:total]})", "#"
    %div.content{ data: { 'section-content' => true } }
      %table.large-12
        %thead
          %tr
            %th
              Reference #
            %th
              Fund Owner Name
            %th
              Institution Name
            %th
              Location
            %th
              Claim #
            %th
              Check Date
            %th
              Check #
        %tbody
          - @fdic_search[:results].each do |result|
            %tr
              %td= result[:reference_number]
              %td= result[:fund_owner_name]
              %td= result[:institution_name]
              %td= "#{result[:city]}, #{result[:state]}"
              %td= result[:claim_number]
              %td= result[:check_date]
              %td= result[:check_number]
  %section
    %p.title{ :data => { 'section-title' => true} }
      = link_to "PBGC (#{@pbgc_search[:total]})", "#"
    %div.content{ :data => { 'section-content' => true } }
      %table.large-12
        %thead
          %tr
            %th
              Name
            %th
              Company Name
            %th
              Last known address
        %tbody
          - @pbgc_search[:results].each do |result|
            %tr
              %td= result[:name]
              %td= result[:company]
              %td= result[:last_known_address]
  %section
    %p.title{ data: { 'section-title' => true } }
      = link_to "HUD (#{@hud_search[:total]})", "#"
    %div.content{ data: { 'section-content' => true } }
      %table.large-12
        %thead
          %tr
            %th
              Name
            %th
              Address
            %th
              Claim date
            %th
              Case number
        %tbody
          - @hud_search[:results].each do |result|
            %tr
              %td= result[:name]
              %td= "#{result[:address]} #{result[:city] == ' ' ? '' : result[:city] + ', ' }#{result[:state]} #{result[:zip]}"
              %td= result[:claim_date]
              %td= result[:case_number]
  - unless @ca_search.nil?
    %section
      %p.title{ data: { 'section-title' => true } }
        = link_to "CA Unclaimed Property (#{@ca_search.total})", "#"
      %div.content{ data: { 'section-content' => true } }
        %table.large-12
          %thead
            %tr
              %th
                Name
              %th
                Address
              %th
                ID Number
              %th
                Type
          %tbody
            - @ca_search.results.each do |result|
              %tr
                %td= result[:name]
                %td= result[:address]
                %td= raw result[:id]
                %td= ca_result_type(result[:type])
  - unless @md_search.nil?
    %section
      %p.title{ data: { 'section-title' => true } }
        = link_to "MD Unclaimed Property (#{@md_search.total})", "#"
      %div.content{ data: { 'section-content' => true } }
        %table.large-12
          %thead
            %tr
              %th
                Claim
              %th
                Name
              %th
                Address
          %tbody
            - @md_search.results.each do |result|
              %tr
                %td= result[:claim]
                %td= result[:name]
                %td= result[:address]