.large-4.columns.sidebar
  %h4 Help &amp; FAQs
  %div.section-container.accordion{ 'data-section' => "accordion" }
    %section
      %p.lead.title{ 'data-section-title' => nil}
        = link_to 'What is unclaimed money?', "#"
      %div.content{ 'data-section-content' => nil}
        %p
          Each year millions of dollars in unclaimed funds and property are turned over to the government by companies who cannot locate the owners.  If your name is on this list, you could have money waiting for you right now.
        %p
          = link_to 'More frequently asked questions.', 'http://answers.usa.gov/system/templates/selfservice/USAGov/#portal/1012/article/3770/Find-out-if-the-Government-Owes-You-Money?fromQuery=unclaimed%20money'
    %section
      %p.lead.title{ 'data-section-title' => nil }
        = link_to 'How do I get started?', "#"
      %div.content{ 'data-section-content' => nil}
        %p
          Each year millions of dollars in unclaimed funds and property are turned over to the government by companies who cannot locate the owners.  If your name is on this list, you could have money waiting for you right now.
        %p 
          = link_to 'More frequently asked questions.', ''
    %section
      %p.lead.title{ 'data-section-title' => nil }
        = link_to 'What is MyUSA?', "#"
      %div.content{ 'data-section-content' => nil}
        %p
          Each year millions of dollars in unclaimed funds and property are turned over to the government by companies who cannot locate the owners.  If your name is on this list, you could have money waiting for you right now.
          = link_to 'More frequently asked questions.', ''