.row
  .large-10.columns
    %h3
      Enter your information below to search for unclaimed funds
    %div.search_form
      = form_tag "/search" do
        %div.large-6
          = label_tag "Select the states where you have previously lived"
          = select_tag "states", "<option>California</option><option>Maryland</option>".html_safe, { :multiple => true, 'data-customforms' => "disabled"}
        = label_tag "last_name", "Last name"
        = text_field_tag "last_name"

%div#searchModal.reveal-modal.expand
  %h4
    Search in progress...
  %div#progressbar
    %div#progress
      %div#pbaranim