!!! 5
/ http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html lang="en" class="no-js ie6">
/[if IE 7 ]    <html lang="en" class="no-js ie7">
/[if IE 8 ]    <html lang="en" class="no-js ie8">
/[if IE 9 ]    <html lang="en" class="no-js ie9">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ charset: "utf-8" }
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
  %title Unclaimed Money
  = stylesheet_link_tag "application", :media => "all"
  = csrf_meta_tags
%body
  %hr.red-stripe
  = link_to image_tag('usa_gov_logo.png', id: 'usa_gov_logo'), 'http://www.usa.gov/', class: 'left usa_logo'
  - if session[:user] == {}
    = link_to image_tag('shield.png') + raw('<span>Log In</span><strong></strong>'), "auth/myusa", id: 'log_in_link', :class => 'right'
  - else
    = link_to image_tag('shield.png') + raw('<span>Log Out</span><strong></strong>'), logout_path, id: 'log_in_link', :class => 'right'
  %nav.top-bar
    %ul.title-area
      %li.name
      %li.toggle-topbar.menu-icon
        = link_to raw('<span></span>'), ""
    %section.top-bar-section
      %ul.left
        %li.active
          = link_to 'Home', root_url
        %li.divider 
        %li 
          = link_to 'Site Index', 'http://www.usa.gov/site-index.shtml'
        %li.divider 
        %li 
          = link_to 'Chat', 'http://answers.usa.gov/system/templates/selfservice/USAGov/#portal/1012/chat'
        %li.divider 
        %li 
          = link_to 'Contact Us', 'http://www.usa.gov/Contact-Us.shtml'
        %li.divider 
        %li 
          = link_to '1-800-FED-INFO', 'http://www.usa.gov/About/FEDINFO.shtml'
          
  = yield
  = javascript_include_tag "application"
  = javascript_include_tag "vendor/custom.modernizr"
  